<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-siz: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Você agora faz parte do MandouBem!</p>
  <p>Sua empresa se preocupa com você e nós vamos ser seus parceiros nessa jornada.</p>
  <p>Essas são suas credenciais (<b>lembre-se de alterar sua senha</b>): </p>
  <p>
    E-mail: {{email}} <br/>
    Senha: {{password}}
  </p>
  <p>
    <a href="{{link}}">Acessar o <b>MandouBem</b></a>
  </p>
  <p>
    Estamos super contentes em ter você com a gente!<br />
    <strong>Equipe MandouBem</strong>
  </p>
</div>
